@model Category

<h2>Редактировать категорию</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label>Название категории</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    <a asp-action="Index" class="btn btn-secondary">Назад</a>
</form>
